# Final Clean

In [123]:
import pandas as pd
import datetime
import numpy as np
import itertools
from ipykernel import kernelapp as app
%load_ext Cython
import numba
import gc
from haversine import haversine
global df

The Cython extension is already loaded. To reload it, use:
  %reload_ext Cython

In [63]:
df = pd.read_hdf("cleaning_store.h5", key="table_name", where='Week_Day == 6')

In [64]:
df.isnull().sum()

Timestamp             0
Journey_Pattern_ID    0
Time_Frame            0
Vehicle_Journey_ID    0
Bus_Operator          0
Longitude             0
Latitude              0
Delay_seconds         0
Block_ID              0
Vehicle_ID            0
Stop_ID               0
At_Stop               0
Week_Day              0
dtype: int64

In [65]:
categorical_columns = df[['Journey_Pattern_ID','Vehicle_Journey_ID', 'Bus_Operator',
                          'Block_ID', 'Vehicle_ID', 'Stop_ID']].columns

In [66]:
# Convert data type to category for these columns. categorical columns have better performance than object dtype
for column in categorical_columns:
    df[column] = df[column].astype('category')

In [67]:
false_categorical_columns = df[['Week_Day', 'At_Stop' ]].columns

In [68]:
# These columns are converted to int32 although they are categorical in order to have compatibility with hdf5
for column in false_categorical_columns:
    df[column] = df[column].astype('int32')

In [69]:
gc.collect()

604

In [70]:
df.reset_index(drop=True,inplace=True)

In [71]:
df.head()

,Timestamp,Journey_Pattern_ID,Time_Frame,Vehicle_Journey_ID,Bus_Operator,Longitude,Latitude,Delay_seconds,Block_ID,Vehicle_ID,Stop_ID,At_Stop,Week_Day
0,2012-11-11 06:35:04,00410001,2012-11-11,13421,SL,-6.255460,53.349075,-2,41001,33425,288,0,6
1,2012-11-11 06:35:20,00410001,2012-11-11,13421,SL,-6.255160,53.349129,-2,41001,33425,288,0,6
2,2012-11-11 06:35:41,00410001,2012-11-11,13421,SL,-6.253968,53.350094,-19,41001,33425,288,0,6
3,2012-11-11 06:36:03,00410001,2012-11-11,13421,SL,-6.254150,53.350376,-19,41001,33425,1171,1,6
4,2012-11-11 06:36:23,00410001,2012-11-11,13421,SL,-6.254150,53.350376,10,41001,33425,1171,1,6

In [72]:
df.dtypes

Timestamp             datetime64[ns]
Journey_Pattern_ID          category
Time_Frame            datetime64[ns]
Vehicle_Journey_ID          category
Bus_Operator                category
Longitude                    float64
Latitude                     float64
Delay_seconds                  int32
Block_ID                    category
Vehicle_ID                  category
Stop_ID                     category
At_Stop                        int32
Week_Day                       int32
dtype: object

#### Note About The Following Cell:
This is the way we are sorting the data. First the Timeframe is the most important since it holds a unique Vehicle Journey ID (or it should) for every journey each day. 
Ideally we would then sort by VehicleJourneyId but the reality is that the data is messy. In order to avoid two buses at opposite sides of the city causing issues with the dataset we will now sort by the vehicle ID.
Next the vehicle journey ID makes sense since we can then start to sort the entire dataset into individual journeys along a certain route.
Lastly timestamp is obvious.

We'll use this cell several times to keep the dataframe sorted and the index correct, as many of the loops in this notebook require this.

You should deduce from this that there will be several cases of a VehicleJourneyId being repeated. cleaning up this is part of the challenge.

## Remove General Noise

In [73]:
""" Remove every VehicleJourneyId which is equal to or below 5 rows in length. Realistically any journey (even the short ones)
should be at least 5 rows of data in length, anything else is just noise. """


df = df.groupby(['Time_Frame', 'Vehicle_ID', 'Vehicle_Journey_ID'], as_index=False, group_keys=False, sort=False).filter(lambda x: len(x) > 5)

## Remove Extra JourneyPatternId's From VehicleJourneyId's

In [74]:
# Create group object to work with 
gb = df.groupby(['Time_Frame', 'Vehicle_ID', 'Vehicle_Journey_ID'], as_index=False, group_keys=False, sort=False)

In [75]:
@numba.jit()
def delete_outlier_journeypatternid(group):
    """ Takes a pandas group object and iterates removing the least occuring JourneyPatterId in each.
    If there are more than two or the occurances of the two are equal, it ignores it. """
    
    grouped_values = group["Journey_Pattern_ID"].value_counts()
        
    # If there's two Journey Pattern ID's
    if len(grouped_values) == 2:
                
        # If the two journey pattern ID's occupy the same space then do nothing (likely it's a 'noise' journey)
        if grouped_values[0] != grouped_values[1]:
            
            real_id = grouped_values.index.tolist()[0] 
            group = group[group.Journey_Pattern_ID == real_id]
            
    return group

In [76]:
# Apply the mapping function to the dataset
%timeit df = gb.apply(delete_outlier_journeypatternid)
# 120 secs
# to 79 seconds with jit numba

1 loop, best of 3: 42.2 s per loop

In [77]:
# Create group object to work with 
gb = df.groupby(['Time_Frame', 'Vehicle_ID', 'Vehicle_Journey_ID'], as_index=False, group_keys=False, sort=False)

In [78]:
# Delete outliers (journey's with 3 id's and other noise inc. nulls)
df = gb.filter(lambda x: len(x["Journey_Pattern_ID"].unique()) == 1)

# Clean blockID

In [79]:
gb = df.groupby(['Time_Frame', 'Vehicle_ID', 'Vehicle_Journey_ID'], as_index=False, group_keys=False, sort=False)

In [80]:
@numba.jit()
def delete_outlier_block_id(group):
    """ Takes a pandas group object and iterates removing the least occuring Block ID in each.
    If there are more than two or the occurances of the two are equal, it ignores it. """
    
    # If there's two Journey Pattern ID's
    if len(group["Block_ID"].value_counts()) == 2:
        real_id = group["Block_ID"].value_counts().index.tolist()[0]
        group = group[group.Block_ID == real_id]
           
    return group

In [81]:
# Apply the mapping function to the dataset
%timeit df = gb.apply(delete_outlier_block_id)

# For debugging
df.shape

1 loop, best of 3: 31.4 s per loop

(2587877, 13)

## Remove Vehicle Journey ID's With Two Occurances Each Day

These can either be...
* Two buses completing the same route together with a stopover.
* Incomplete journey's.
* General noise in the data.

In any case they occupy less than 1% of the data and change week to week, so they can be dropped without overall loss of data integrity.

In [82]:
# Filter out these outliers

gb = df.groupby(["Time_Frame", "Vehicle_Journey_ID"], as_index=False, group_keys=False, sort=False)

df = gb.filter(lambda x: len(x["Vehicle_ID"].unique()) == 1)

# Clean Up Start Of Journeys

In [83]:
# Organise the Data
df.sort_values(['Time_Frame', 'Vehicle_ID', 'Vehicle_Journey_ID', 'Timestamp'], ascending=True, inplace=True)

# Clean up index
df.reset_index(drop=True,inplace=True)

C:\Users\Daniele\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [84]:
df.dtypes

Timestamp             datetime64[ns]
Journey_Pattern_ID          category
Time_Frame            datetime64[ns]
Vehicle_Journey_ID          category
Bus_Operator                category
Longitude                    float64
Latitude                     float64
Delay_seconds                  int32
Block_ID                    category
Vehicle_ID                  category
Stop_ID                     category
At_Stop                        int32
Week_Day                       int32
dtype: object

In [85]:
df['Vehicle_Journey_ID'] = df['Vehicle_Journey_ID'].astype('object')

C:\Users\Daniele\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [86]:
@numba.jit()
def GPS_clean(df):
    
    """ If the GPS coordinates remain the same for the first few rows of data, delete them. """
    
    last_bus_id = df.loc[0, "Vehicle_Journey_ID"]
    last_lat = df.loc[0, "Latitude"]
    last_long = df.loc[0, "Longitude"]
    new_start = True
    
    for row in itertools.islice(df.itertuples(),1,None):

        # For every iteration
        current_bus_id = row[4]
        current_lat = row[7]
        current_long = row[6]

        # If it's a different vehicle journey id
        if last_bus_id != current_bus_id:
            last_bus_id = row[4]
            last_lat = row[7]
            last_long = row[6]
            new_start = True
            continue

        # If it's the same journey
        if new_start:
            if current_lat == last_lat:
                if current_long == last_long:
                    # Flag
                    df.set_value(row[0] - 1, "Vehicle_Journey_ID", 0)
                    last_bus_id = row[4]
                    last_lat = row[7]
                    last_long = row[6]
                    continue

        # If it's the same journey but it's moved
        if last_bus_id == current_bus_id:
            if current_lat != last_lat or current_long != last_long:
                new_start = False

In [87]:
%timeit GPS_clean(df)

1 loop, best of 3: 18.2 s per loop

In [88]:
#iterrows, original loop: 400 seconds
#numba just in time compiler +  itertuples + skipping first row: 25 seconds

In [89]:
# Filter Out Rows Flagged
df = df[df.Vehicle_Journey_ID != 0]

In [90]:
df['Vehicle_Journey_ID'] = df['Vehicle_Journey_ID'].astype('object')

In [91]:
# Organise the Data
df.sort_values(['Time_Frame', 'Vehicle_ID', 'Vehicle_Journey_ID', 'Timestamp'], ascending=True, inplace=True)
# Clean up index
df.reset_index(drop=True,inplace=True)

In [92]:
df.shape

(2482231, 13)

## Add Distance Feature

Before dropping duplicate StopId's we must first measure the distance on each route. This requires that we use all rows of data.

This will also make any VehicleJourneyId's which miss a stop along their journey useful data in the model.

In [93]:
@numba.jit()
def get_distance(lat1, long1, lat2, long2):
    """ Get distance between two geo coordinates in km """
    
    stop1 = (lat1, long1)
    stop2 = (lat2, long2)
    
    return haversine(stop1,stop2)

In [94]:
df.dtypes

Timestamp             datetime64[ns]
Journey_Pattern_ID          category
Time_Frame            datetime64[ns]
Vehicle_Journey_ID            object
Bus_Operator                category
Longitude                    float64
Latitude                     float64
Delay_seconds                  int32
Block_ID                    category
Vehicle_ID                  category
Stop_ID                     category
At_Stop                        int32
Week_Day                       int32
dtype: object

In [95]:
@numba.jit()
def add_distance_todf(df):

    # List to hold feature
    df["Distance"] = np.nan
    
    # Set up values on first iteration
    last_id = df.loc[0, "Vehicle_Journey_ID"]
    last_lat = df.loc[0, "Latitude"]
    last_long = df.loc[0, "Longitude"]
    last_distance = 0
    
    #set very first distance
    df.set_value(0, "Distance", 0)

    for row in itertools.islice(df.itertuples(),1,None):
        
        current_id = row[4]
        current_lat = row[7]
        current_long = row[6]
        current_distance = get_distance(current_lat, current_long, last_lat, last_long)

        # If it's a new Journey ID
        if current_id != last_id:
            last_lat = row[7]
            last_long = row[6]
            last_id = row[4]
            last_distance = 0

            df.set_value(row[0], "Distance", 0)
            continue

        # If it's not a new Journey ID
        current_distance = get_distance(current_lat, current_long, last_lat, last_long)
        
        last_distance += current_distance
        
        df.set_value(row[0], "Distance", last_distance)
        last_lat = row[7]
        last_long = row[6]
        last_id = row[4]

In [96]:
%timeit add_distance_todf(df)

1 loop, best of 3: 1min 11s per loop

In [97]:
#original code: > 5 minutes, I stopped the loop and proceeded optimizing
# jit numba + itertuples + skip first row: 246 seconds

In [98]:
df.head()

,Timestamp,Journey_Pattern_ID,Time_Frame,Vehicle_Journey_ID,Bus_Operator,Longitude,Latitude,Delay_seconds,Block_ID,Vehicle_ID,Stop_ID,At_Stop,Week_Day,Distance
0,2012-11-11 10:55:24,02380001,2012-11-11,14326,HN,-6.378200,53.419167,20,238002,24587,7073,1,6,0.000000
1,2012-11-11 10:55:44,02380001,2012-11-11,14326,HN,-6.378497,53.419022,39,238002,24587,7073,0,6,0.025442
2,2012-11-11 10:55:46,02380001,2012-11-11,14326,HN,-6.378459,53.419052,39,238002,24587,7073,0,6,0.029622
3,2012-11-11 10:56:23,02380001,2012-11-11,14326,HN,-6.381803,53.418823,64,238002,24587,7073,0,6,0.252679
4,2012-11-11 10:56:43,02380001,2012-11-11,14326,HN,-6.384019,53.419331,64,238002,24587,7073,0,6,0.410018

## Remove Stop ID Duplicates

Now we can filter the dataframe a little by removing dupicate stopID's. Although it would be better to train on every row it might be too much to compute. 

This will also help us later in making the database stop distances. There is not enough information to map the exact distance to each stop, so we will have to take some kind of average of the AtStop == 0 columns and subtract a little to get a rough distance to each stop in a Journey Pattern ID.

Because this section keeps the first occurance of each StopId, this should be a very accurate way to estimate the distance to each stop on each route.

In [99]:
""" This will delete all duplicates AFTER the first example of each is found. So when the bus arrives at the stop, 
all subsequent rows at that stop will be deleted. """

df.drop_duplicates(["Time_Frame", 'Vehicle_ID', "Vehicle_Journey_ID", "Stop_ID"],inplace=True)

In [100]:
# Organise the Data
df.sort_values(["Time_Frame", 'Vehicle_ID', "Vehicle_Journey_ID", 'Timestamp'], ascending=True, inplace=True)

# Clean up index
df.reset_index(drop=True,inplace=True)

In [101]:
# Check size of dataframe
df.shape

(747672, 14)

In [102]:
df.dtypes

Timestamp             datetime64[ns]
Journey_Pattern_ID          category
Time_Frame            datetime64[ns]
Vehicle_Journey_ID            object
Bus_Operator                category
Longitude                    float64
Latitude                     float64
Delay_seconds                  int32
Block_ID                    category
Vehicle_ID                  category
Stop_ID                     category
At_Stop                        int32
Week_Day                       int32
Distance                     float64
dtype: object

## Add Time Taken Feature

In [103]:
@numba.jit()
def time_taken_feature(df):

    # List to hold feature
    df["TravelTime"] = np.nan
    
    
    # Set up values on first iteration
    last_id = df.loc[0, "Vehicle_Journey_ID"]
    start_time = df.loc[0, "Timestamp"]
    
    #set very first distance
    df.set_value(0, "TravelTime", 0.0)

    for row in itertools.islice(df.itertuples(),1,None):

        current_time = row[1]
        current_id = row[4]

        # If it's a new Journey ID
        if current_id != last_id:
            last_id = row[4]        
            start_time = row[1]        
            df.set_value(row[0], "TravelTime", 0.0)
            continue
        
        df.set_value(row[0], "TravelTime", abs((current_time - start_time).total_seconds()) )  
        last_time = row[1]
        last_id = row[4]

In [104]:
%timeit time_taken_feature(df)

1 loop, best of 3: 22.9 s per loop

## Add Time Category Feature

In [105]:
df["TimeCategory"] = pd.DatetimeIndex(df['Timestamp']).round('30min')

In [106]:
df['Time_hour'] = df['Timestamp'].values.astype('<M8[h]')

In [107]:
COLTYPES = {
    
    "Time_hour" : 'str',
    "Rain" : 'float32',
    "Temp" : 'float32',
    "Windspeed" : 'float32'
           }

In [108]:
df2 = pd.read_csv('WeatherData_cleaned.csv', dtype=COLTYPES, parse_dates=[0])

In [109]:
#df2['Week_Day'] = df2['Time_hour'].dt.dayofweek

In [110]:
df2.head()

            Time_hour  Rain  Temp  windSpeed
0 2012-11-06 00:00:00   0.0   2.6       3.40
1 2012-11-06 01:00:00   0.0   2.8       3.29
2 2012-11-06 02:00:00   0.0   3.4       4.12
3 2012-11-06 03:00:00   0.0   4.6       4.52
4 2012-11-06 04:00:00   0.0   4.9       4.85

In [111]:
len(df2)

2076

In [112]:
#df2 = df2[df2['Week_Day'] == 0]

In [113]:
df2.head()

            Time_hour  Rain  Temp  windSpeed
0 2012-11-06 00:00:00   0.0   2.6       3.40
1 2012-11-06 01:00:00   0.0   2.8       3.29
2 2012-11-06 02:00:00   0.0   3.4       4.12
3 2012-11-06 03:00:00   0.0   4.6       4.52
4 2012-11-06 04:00:00   0.0   4.9       4.85

In [114]:
len(df2)

2076

In [115]:
df2.isnull().sum()

Time_hour    0
Rain         0
Temp         0
windSpeed    0
dtype: int64

In [116]:
df.isnull().sum()

Timestamp             0
Journey_Pattern_ID    0
Time_Frame            0
Vehicle_Journey_ID    0
Bus_Operator          0
Longitude             0
Latitude              0
Delay_seconds         0
Block_ID              0
Vehicle_ID            0
Stop_ID               0
At_Stop               0
Week_Day              0
Distance              0
TravelTime            0
TimeCategory          0
Time_hour             0
dtype: int64

In [117]:
#df2.drop('Week_Day', axis=1, inplace=True)

In [118]:
df = pd.merge(df,df2, how='inner', on='Time_hour')

In [119]:
df.drop('Time_hour', axis=1, inplace=True)

In [120]:
hdf_path = 'cleaned_store.h5'

In [121]:
# Convert data type category to object before writing the hdf file, reason is to avoid conflicts
for column in categorical_columns:
    df[column] = df[column].astype('object')

In [122]:
df.to_hdf(hdf_path, 'table_name', mode='a', format='table', append=True, data_columns=True,complevel=9, complib='blosc')

In [163]:
df = pd.read_hdf("cleaned_store.h5", key="table_name", where='TravelTime == 0.0 and Journey_Pattern_ID == "046A1001"')

In [166]:
df.head(500)

,Timestamp,Journey_Pattern_ID,Time_Frame,Vehicle_Journey_ID,Bus_Operator,Longitude,Latitude,Delay_seconds,Block_ID,Vehicle_ID,Stop_ID,At_Stop,Week_Day,Distance,TravelTime,TimeCategory,Rain,Temp,windSpeed
9060,2012-11-12 13:47:52,046A1001,2012-11-12,7326,D2,-6.135366,53.295116,0,46010,36021,2039,1,0,0.0,0.0,2012-11-12 14:00:00,0.0,13.6,4.27
36690,2012-11-12 15:33:44,046A1001,2012-11-12,7469,D2,-6.147883,53.295235,0,821373,36023,2039,1,0,0.0,0.0,2012-11-12 15:30:00,0.0,13.7,3.52
41211,2012-11-12 16:59:29,046A1001,2012-11-12,7467,D2,-6.134800,53.294868,0,821372,33072,2039,1,0,0.0,0.0,2012-11-12 17:00:00,0.0,13.1,3.16
62576,2012-11-12 17:06:33,046A1001,2012-11-12,7454,D2,-6.134798,53.294781,0,46027,33327,2039,1,0,0.0,0.0,2012-11-12 17:00:00,0.0,12.8,3.72
65096,2012-11-12 17:18:06,046A1001,2012-11-12,7389,D1,-6.135517,53.295116,124,46016,33463,2039,1,0,0.0,0.0,2012-11-12 17:30:00,0.0,12.8,3.72
65128,2012-11-12 17:48:59,046A1001,2012-11-12,7401,D1,-6.135200,53.295052,0,46017,33465,2039,0,0,0.0,0.0,2012-11-12 18:00:00,0.0,12.8,3.72
86694,2012-11-12 18:11:09,046A1001,2012-11-12,7276,D2,-6.135267,53.295101,0,46005,36011,2039,1,0,0.0,0.0,2012-11-12 18:00:00,0.0,12.4,3.33
86913,2012-11-12 18:21:10,046A1001,2012-11-12,7228,D2,-6.233284,53.320049,-134,46001,36035,773,1,0,0.0,0.0,2012-11-12 18:30:00,0.0,12.4,3.33
92978,2012-11-12 08:57:07,046A1001,2012-11-12,909105,CF,-6.216350,53.304985,0,46359,33066,770,0,0,0.0,0.0,2012-11-12 09:00:00,0.2,11.3,4.38
112144,2012-11-12 09:03:23,046A1001,2012-11-12,992714,CF,-6.216650,53.305065,0,46403,33041,2084,0,0,0.0,0.0,2012-11-12 09:00:00,0.0,11.9,3.96
123396,2012-11-12 09:00:01,046A1001,2012-11-12,7233,D2,-6.134933,53.294884,0,46002,36004,2039,1,0,0.0,0.0,2012-11-12 09:00:00,0.0,11.9,3.96
123558,2012-11-12 09:06:38,046A1001,2012-11-12,7257,D2,-6.135283,53.295067,0,46004,36010,2039,1,0,0.0,0.0,2012-11-12 09:00:00,0.0,11.9,3.96
123600,2012-11-12 09:20:35,046A1001,2012-11-12,7432,D2,-6.135300,53.294968,0,46022,36012,2039,1,0,0.0,0.0,2012-11-12 09:30:00,0.0,11.9,3.96
171606,2012-11-12 06:03:47,046A1001,2012-11-12,7220,D2,-6.135350,53.294998,0,46001,36001,2039,1,0,0.0,0.0,2012-11-12 06:00:00,0.2,10.2,4.43
171666,2012-11-12 06:11:48,046A1001,2012-11-12,7231,D2,-6.134833,53.294750,0,46002,36004,2039,1,0,0.0,0.0,2012-11-12 06:00:00,0.2,10.2,4.43
171723,2012-11-12 06:19:02,046A1001,2012-11-12,7255,D2,-6.135100,53.294899,0,46004,36010,2039,1,0,0.0,0.0,2012-11-12 06:30:00,0.2,10.2,4.43
171776,2012-11-12 06:28:53,046A1001,2012-11-12,7268,D2,-6.134950,53.294918,48,46005,36011,2039,1,0,0.0,0.0,2012-11-12 06:30:00,0.2,10.2,4.43
171817,2012-11-12 06:32:51,046A1001,2012-11-12,7430,D2,-6.135133,53.294933,0,46022,36012,2039,1,0,0.0,0.0,2012-11-12 06:30:00,0.2,10.2,4.43
171870,2012-11-12 06:43:52,046A1001,2012-11-12,7439,D2,-6.135067,53.295017,0,46023,36015,2039,1,0,0.0,0.0,2012-11-12 06:30:00,0.2,10.2,4.43
171922,2012-11-12 06:49:02,046A1001,2012-11-12,7310,D2,-6.135517,53.295082,0,46009,36020,2039,1,0,0.0,0.0,2012-11-12 07:00:00,0.2,10.2,4.43
171955,2012-11-12 06:56:10,046A1001,2012-11-12,7334,D2,-6.135334,53.295166,0,46011,36022,2039,1,0,0.0,0.0,2012-11-12 07:00:00,0.2,10.2,4.43
188627,2012-11-12 07:32:11,046A1001,2012-11-12,7418,D1,-6.135967,53.295265,0,46019,33618,2040,0,0,0.0,0.0,2012-11-12 07:30:00,0.5,10.5,4.47
189404,2012-11-12 07:16:02,046A1001,2012-11-12,7373,D2,-6.135750,53.295300,1,46015,36018,2039,1,0,0.0,0.0,2012-11-12 07:30:00,0.5,10.5,4.47
189545,2012-11-12 07:55:57,046A1001,2012-11-12,7322,D2,-6.135100,53.294968,0,46010,36021,2039,1,0,0.0,0.0,2012-11-12 08:00:00,0.5,10.5,4.47
189645,2012-11-12 07:04:02,046A1001,2012-11-12,7354,D2,-6.135917,53.295368,0,46013,36024,2039,1,0,0.0,0.0,2012-11-12 07:00:00,0.5,10.5,4.47
205055,2012-11-12 10:03:44,046A1001,2012-11-12,7453,D2,-6.135499,53.292816,-122,46028,36003,2040,1,0,0.0,0.0,2012-11-12 10:00:00,0.0,12.5,4.27
245000,2012-11-12 12:19:34,046A1001,2012-11-12,7272,D2,-6.135300,53.294983,0,46005,36011,2039,1,0,0.0,0.0,2012-11-12 12:30:00,0.0,13.2,4.67
254223,2012-11-19 12:59:50,046A1001,2012-11-19,6437,D2,-6.134800,53.294868,0,46013,33321,2039,1,0,0.0,0.0,2012-11-19 13:00:00,0.0,14.4,3.06
257180,2012-11-19 12:52:50,046A1001,2012-11-19,6417,D1,-6.135083,53.295017,46,46011,33540,2039,1,0,0.0,0.0,2012-11-19 13:00:00,0.0,14.4,3.06
268866,2012-11-19 13:53:58,046A1001,2012-11-19,993098,D1,-6.207097,53.302364,-125,46029,33464,2069,0,0,0.0,0.0,2012-11-19 14:00:00,0.0,13.4,3.28
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
53382,2012-11-07 09:53:29,046A1001,2012-11-07,7432,D2,-6.233217,53.320034,252,46022,36011,2065,0,2,0.0,0.0,2012-11-07 10:00:00,0.0,9.1,7.30
53390,2012-11-07 09:43:09,046A1001,2012-11-07,933687,D2,-6.221088,53.311859,70,46029,36012,768,0,2,0.0,0.0,2012-11-07 09:30:00,0.0,9.1,7.30
67488,2012-11-07 13:54:47,046A1001,2012-11-07,7351,D2,-6.134833,53.294884,0,46012,36024,2039,1,2,0.0,0.0,2012-11-07 14:00:00,0.0,10.9,7.95
79582,2012-11-07 14:02:40,046A1001,2012-11-07,7294,D2,-6.135417,53.295017,0,46007,36003,2039,1,2,0.0,0.0,2012-11-07 14:00:00,0.0,10.9,8.07
84770,2012-11-07 15:33:23,046A1001,2012-11-07,7469,D2,-6.135500,53.295052,0,821373,33071,2039,1,2,0.0,0.0,2012-11-07 15:30:00,0.0,11.0,8.33
108860,2012-11-07 16:29:19,046A1001,2012-11-07,7307,D2,-6.134933,53.294815,77,46008,36009,2039,1,2,0.0,0.0,2012-11-07 16:30:00,0.0,11.1,7.11
108948,2012-11-07 16:04:23,046A1001,2012-11-07,7379,D2,-6.135217,53.294933,490,46015,36031,2039,1,2,0.0,0.0,2012-11-07 16:00:00,0.0,11.1,7.11
114906,2012-11-07 17:38:53,046A1001,2012-11-07,7467,D2,-6.256300,53.335434,0,821372,33069,768,0,2,0.0,0.0,2012-11-07 17:30:00,0.1,9.9,6.66
123099,2012-11-07 17:46:35,046A1001,2012-11-07,7401,D1,-6.135667,53.295200,0,46017,33531,2039,1,2,0.0,0.0,2012-11-07 18:00:00,0.1,9.9,6.66
130364,2012-11-07 17:04:48,046A1001,2012-11-07,7454,SL,-6.135550,53.294998,0,46027,43053,2039,1,2,0.0,0.0,2012-11-07 17:00:00,0.1,9.9,6.66
150302,2012-11-07 20:20:45,046A1001,2012-11-07,7230,D2,-6.134671,53.294735,39,46001,36019,2039,0,2,0.0,0.0,2012-11-07 20:30:00,0.0,9.3,6.69
162707,2012-11-07 11:25:26,046A1001,2012-11-07,7282,D2,-6.233117,53.319881,235,46006,36001,774,0,2,0.0,0.0,2012-11-07 11:30:00,0.0,10.2,8.11
162735,2012-11-07 11:26:03,046A1001,2012-11-07,7303,D2,-6.232883,53.319752,-104,46008,36009,773,1,2,0.0,0.0,2012-11-07 11:30:00,0.0,10.2,8.11
162758,2012-11-07 11:47:25,046A1001,2012-11-07,7224,D2,-6.134950,53.294899,0,46001,36019,2039,1,2,0.0,0.0,2012-11-07 12:00:00,0.0,10.2,8.11
162768,2012-11-07 11:07:10,046A1001,2012-11-07,7349,D2,-6.134767,53.294815,0,46012,36024,2039,1,2,0.0,0.0,2012-11-07 11:00:00,0.0,10.2,8.11
172024,2012-11-07 12:11:43,046A1001,2012-11-07,7259,D2,-6.135817,53.295250,0,46004,33323,2039,1,2,0.0,0.0,2012-11-07 12:00:00,0.0,10.8,8.53
190088,2012-11-07 10:29:37,046A1001,2012-11-07,7420,D1,-6.135067,53.294949,0,46019,33638,2039,1,2,0.0,0.0,2012-11-07 10:30:00,0.0,8.9,7.53
190270,2012-11-07 10:05:56,046A1001,2012-11-07,7270,D2,-6.233050,53.319851,-6,46005,36010,786,0,2,0.0,0.0,2012-11-07 10:00:00,0.0,8.9,7.53
206299,2012-11-07 18:52:27,046A1001,2012-11-07,7381,D2,-6.135950,53.295334,0,46015,36031,2039,1,2,0.0,0.0,2012-11-07 19:00:00,0.0,10.3,7.59
217637,2012-11-07 21:06:04,046A1001,2012-11-07,7403,D2,-6.233067,53.319851,0,46017,36017,773,0,2,0.0,0.0,2012-11-07 21:00:00,0.0,9.0,7.96
227954,2012-11-07 06:44:47,046A1001,2012-11-07,7439,D2,-6.135467,53.295052,44,46023,36002,2039,1,2,0.0,0.0,2012-11-07 06:30:00,0.0,8.8,6.33
228036,2012-11-07 06:33:08,046A1001,2012-11-07,7430,D2,-6.135350,53.294834,0,46022,36010,2039,1,2,0.0,0.0,2012-11-07 06:30:00,0.0,8.8,6.33
228066,2012-11-07 06:28:13,046A1001,2012-11-07,7268,D2,-6.135483,53.295116,9,46005,36011,2039,1,2,0.0,0.0,2012-11-07 06:30:00,0.0,8.8,6.33
228102,2012-11-07 06:20:51,046A1001,2012-11-07,7255,D2,-6.135300,53.294983,46,46004,36012,2039,1,2,0.0,0.0,2012-11-07 06:30:00,0.0,8.8,6.33
228209,2012-11-07 06:10:03,046A1001,2012-11-07,7231,D2,-6.135550,53.295101,0,46002,36017,2039,1,2,0.0,0.0,2012-11-07 06:00:00,0.0,8.8,6.33
228260,2012-11-07 06:49:08,046A1001,2012-11-07,7310,D2,-6.135350,53.294849,0,46009,36018,2039,1,2,0.0,0.0,2012-11-07 07:00:00,0.0,8.8,6.33
228270,2012-11-07 06:04:02,046A1001,2012-11-07,7220,D2,-6.135150,53.294949,0,46001,36019,2039,1,2,0.0,0.0,2012-11-07 06:00:00,0.0,8.8,6.33
228356,2012-11-07 06:56:11,046A1001,2012-11-07,7334,D2,-6.135833,53.295265,0,46011,36023,2039,1,2,0.0,0.0,2012-11-07 07:00:00,0.0,8.8,6.33
256180,2012-11-14 08:25:53,046A1001,2012-11-14,974630,D2,-6.173100,53.273216,0,46099,33322,2063,0,2,0.0,0.0,2012-11-14 08:30:00,0.0,10.7,9.32
259287,2012-11-14 08:52:52,046A1001,2012-11-14,7395,D1,-6.134883,53.294800,51,46017,33463,2039,1,2,0.0,0.0,2012-11-14 09:00:00,0.0,10.7,9.32

In [129]:
len(df)

139162

In [132]:
len(df)

139162